

<h4>Request Notifications</h4>
<p>you have <b data-bind="text: unreadRequestNotifications"></b> requests</p>

<button data-bind = "click: showRequests">Show Requests</button>

<div id="requests" style="display:none">
	<ul data-bind="foreach: requestNotifications">
		<li>
			<p><img data-bind="attr:{src: user_image}"><strong data-bind="text:user_name"></strong></p>
			<p data-bind="text: text"></p>
			<p><i data-bind="text: timestampText"></i></p>
			<p><button data-bind = "click: $component.completeRequest, visible:complete === false">accept</button></p>
		</li>		
	</ul>
</div>
