
<!-- Each component's markup has
	> div.dropdown-display: Markup displayed on the main navbar
	> div.dropdown-wrapper: hidden container for dropdown's content
 -->

<div class="dropdown-display">
	<div class="input-addon" id="groupSearchAddon" data-bind="css:{focus: focus}">
		<i class="material-icons search-icon" data-bind="click:addFocus">search</i>
		<!-- <span class="input-addon-item icon icon-search"></span> -->
		<!-- <input type="text" class="input-addon-field" data-bind="event:{ keyup : queryGroups },hasFocus: focus" placeholder="Discover new groups"> -->
		<input type="text" class="input-addon-field" data-bind="hasFocus: focus, textInput:query" placeholder="Discover new groups">
		<i class="material-icons clear-icon" data-bind="visible: showClear, click: clearSearch">clear</i>
	</div>
</div>

<div class="dropdown-wrapper" data-bind="foreach: groupQueryResults">
	<a class="dropdown-item" data-bind="attr:{href: url}">
		<img class="avatar-rect" data-bind="attr: {src: image}">
		<div class="search-group-info">
			<p data-bind="text: name"></p>
			<p data-bind="text: descriptionPreview"></p>
		</div>	
	</a>
</div>
