
<!-- Each component's markup has
	> div.dropdown-display: Markup displayed on the main navbar
	> div.dropdown-wrapper: hidden container for dropdown's content
 -->

<div class="dropdown-display">
	<button data-bind="click: displayNotifications">Read</button>
	<span data-bind="text: unreadPostNotifications, visible:unreadPostNotifications() > 0 "></span>
</div>

<div class="dropdown-wrapper">
	<b class="callout-notch callout-notch-border"></b>
	<b class="callout-notch"></b>
	<div class="dropdown-items-heading">
		<h4>Notifications</h4>
	</div>
	
	
	<div class="dropdown-items-list">
		<!-- using foreach without container element -->
		<!-- ko foreach: postNotifications -->
	        <div class="dropdown-item">
	        	<img class="dropdown-item-image" data-bind="attr: {src: posterImage, alt: posterName + '\'s profile picture'}">

	        	<div class="dropdown-item-message">
	        		<p data-bind = "text: notificationText"></p>
					<p>
						<span class="timestamp" data-bind="text: timestampText, attr:{'data-timestamp': timestamp, 'data-notification': true }"></span>
					</p>
	        	</div>
			</div>
    	<!-- /ko -->
	</div>

	
	<div class="dropdown-items-footer">
		<a href="/view-profile#notifications">View all</a>
	</div>
</div>
