
{% extends 'base_navbar.html' %}

{% block title %}
	<title>Create Group</title>
{% endblock %}

{% block style_sheets %}
{% endblock %}

{% block json_elements %}
{% endblock %}

{% block scripts %}	
	<script data-main="../scripts/createGroupMain" src="../scripts/libs/require.js"></script>
{% endblock %}

{% block content %}
	<h2>create new group</h2>
	<form id= "createGroupForm" method="POST" action="{{form_action}}" enctype="multipart/form-data">
		<div>
			<label for="">Group name</label>
			<input type="text" name="name" id="" value="{{name}}">
			<span id="nameAvailable" data-name-available=""></span>
		</div>
		<div>
			<label for="">Group description</label>
			<textarea name="description" id="" cols="30" rows="10">{{description}}</textarea>
			<span id="descCount">{{description_limit}}</span>
		</div>
		<div>
			<label for="">Cover image</label>
			<input type="file" name="file" value="Select">
		</div>
		<div>
			<label for="">Make private(leave unchecked for public groups):</label>
			<input type="checkbox" name="private">
		</div>
		<div>
			<input type="submit" value="Create!">
		</div>
		<div id="error">
			{{error}}
		</div>
	</form>
{% endblock %}
