
{% extends 'base_navbar.html' %}

{% block title %}
	<title>Create Group</title>
{% endblock %}

{% block style_sheets %}
	<link rel="stylesheet" href="../stylesheets/create-group.css">
{% endblock %}

{% block json_elements %}
{% endblock %}

{% block scripts %}	
	<script data-main="../scripts/createGroupMain" src="../scripts/libs/require.js"></script>
{% endblock %}

{% block user_content %}
	<div id="formWrapper" class="card">
		<h4>Create A New Group</h4>
		<form id= "createGroupForm" method="POST" enctype="multipart/form-data" data-bind=" submit : createGroup">
			<div class="padding-wrapper">
				
				<div class="form-field material-input-wrapper material-name-field" data-bind ="
					css : { error: groupNameError },
					shakeGroupNameField : shakeGroupNameInput
				">
					
					<div class="material-input-group">
						<input type="text" name="name" data-bind="
							event : { 
								input : checkNameAvailability, 
								blur : checkNameInput
							}
						">
						<span class="bar"></span>
						<label>Group Name</label>

						<div class="guide" data-bind = "hideGroupNameGuide : hideGroupNameGuide">
							<span>Only numbers, alphabets and spaces are allowed. Group name cannot be changed later.</span>
						</div>
						
						<div id="nameAvailable" data-name-available="" data-bind=" expandInOut: showAvailability">
							<div class="center-content-vertically">
								<i class="material-icons" data-bind="text : groupNameAvailableIcon"></i>
								<span data-bind="text : groupNameAvailableText"></span>
							</div>
						</div>
					</div>			
				</div>

				<div class="form-field material-input-wrapper material-description-field">
					<div class="material-input-group">
						<textarea class="material-textarea" rows="1" name="description" data-bind = "event : { input : checkDescription }"></textarea>
						<span class="bar"></span>
						<label>Group description</label>

						<div class="guide">
							<span>Description is required. It can be changed later.</span>
							<span class="description-counter">{{description_limit}}</span>
						</div>
					</div>								
				</div>
				
				<div class="form-field material-image-upload">
				<!-- this is the imageWrapper div as used as hook in enableForms.js-->

					<div class="flex-wrapper">
						<div class="center-content-vertically">
							<label>Group image</label>
							<button type="button" title="select group image" class="file-input-trigger btn-icon"><i class="material-icons">photo_camera</i></button>
							<button type="button" title="remove selected image" class="btn-icon file-input-clear"><i class="material-icons">delete</i></button>
						</div>

						<div class="image-preview">
							<img class="avatar-rect" src="../images/defaults/group40.png">
							<span>default</span>
						</div>
					</div>
									
					<div class="guide">
						<span></span>	
					</div>

					<input type="file" name="file" value="Select">
				</div>


				<div class="form-field" id="makePrivate" data-bind="css : { active : checkbox }">
					<div class="center-content-vertically">
						<label>Make private</label>
						<div class="checkbox-icons" data-bind="
							event : { click : updateCheckbox },
							animateCheckbox : checkbox
						">
							<span class="unchecked-state"><i class="material-icons">check_box_outline_blank</i></span>
							<span class="checked-state"><i class="material-icons">check_box</i></span>
						</div>
					</div>

					<div class="status-icons" data-bind=" animateCheckbox : checkbox ">
					 	<span title="public group" class="unchecked-state"><i class="material-icons">public</i></span>			
						<span title="private group" class="checked-state"><i class="material-icons ">vpn_lock</i></span>
					</div>				

					<input type="checkbox" name="private" data-bind=" checked : checkbox">
				</div>
			</div> <!-- END PADDING WRAPPER -->

			<div class="form-control-wrapper">
				<div class="form-field" id="submit">
					<button type="submit" class="btn-normal" data-bind= " enable : enableSubmit">Create Group</button>
				</div>
			</div>
		</form>
	</div>  <!-- END FORM WRAPPER -->
	
{% endblock %}
