<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Edit Profile</title>
</head>
<body>
	<form method="POST" action="{{form_action}}" enctype="multipart/form-data">
		<div>
			<label for="">Display Name</label>
			<input type="text" name = "display_name">
			<span>currently: {{display_name}}</span>
			<p>can use any alpha-numeric character and space</p>
			<p>{{error}}</p>
		</div>
		<div>
			<p>Photo: <input type="file" name="file" value="Select"></p>
			{% if user_image_url %}
				<p>Current image: <img src="{{user_image_url}}" alt=""> </p>
			{% else %}
				<p>Current image: none uploaded</p>
			{% endif %}
		</div>
		<div>
			<input type="submit" name="submit" value="Save changes">
		</div>
	</form>
</body>
</html>