
{% extends 'base_navbar.html' %}

{% block title %}
	<title>Thought Share</title>
{% endblock %}

{% block style_sheets %}
	<link rel="stylesheet" href="../stylesheets/feed.css">
{% endblock %}

{% block json_elements %}
	<span style="display:none" id="userGroupsJSON" data-groupJSON = "{{group_json}}"></span>
	<span style="display:none" id="userJSON" data-userJSON = "{{user_json}}"></span>
{% endblock %}

{% block scripts %}	
	<script type="text/javascript" data-main="../scripts/feedMain" src="../scripts/libs/require.js"></script>
{% endblock %}

{% block user_content %}
	
<div id="groupList" class="fixed-col card" data-bind="styleCurrentGroup: currentGroup">
	<h5>Your Groups</h5>
    <div data-bind="foreach: groups">
    	<div class="group-item center-content-vertically" data-bind="click: $parent.updateCurrentGroup, attr:{'data-group-id': id}">
    		<div class="group-image">
    			<img class="avatar-round" data-bind="attr:{src: cover_image_url}">
    		</div>  	
    		<span class="group-name" data-bind = "text: name"></span>
    		<i title="currently reading" class="material-icons active-icon">description</i>
    	</div>
    </div>	
</div>



<div class="center-col">
	<!-- ko if: currentGroup() -->
		<div id="currentGroup">
			<div id = "newFeed" data-bind = "fadeNewFeed:newFeedFlag, click:updateCurrentGroupFeed">
				<i class="material-icons">file_upload</i>
				<span>new stories</span>
				<span data-bind="click: closeNewFeedDialog"><i class="material-icons">close</i></span>					
			</div>
			
			<div id ="groupInfo" data-bind = "with: currentGroup">
				<a data-bind = "text:name, attr:{href: url}"></a>
			</div>

			<div id="postInGroup">					
				<div>
					<div>
						<img class="avatar-round" data-bind="attr:{src: user.thumbnail_url}">
					</div>					
					<textarea placeholder="share a thought..." data-bind="hasFocus: userPostFocus, textInput: userPost"></textarea>
				</div>					
			</div><!--  POST IN GROUP DIV -->
			
			<div id="postInGroupControls">
				<button class="btn-normal" type="button" data-bind="enable:userPost(), click:postInCurrentGroup">share</button>
				<!-- <button class="btn-normal raised" type="button">raised</button> -->
				<button class="btn-normal" type="button" data-bind="click:cancelUserPost">cancel</button> 
			</div>

		</div><!--  END CURRENT GROUP DIV -->
	<!-- /ko -->
	
	<div id="postWrapper">
		
		<div id="postListWrapper">
			<!-- #postList + moreFeed button -->				
		
			<div id="postList" data-bind='template:{foreach: feed,
                            						afterAdd: fadeInPost}'>		
				<div class="post-item card" data-bind="attr:{id: post_id}">

					<div class="post-item-poster">
						<img class="poster-image avatar-rect" data-bind="attr: {src: poster_image}">
						<div class="poster-info">
							<p class="poster-name" data-bind="text: poster_name"></p>
							<p>
								<span class="timestamp" data-bind="text: timestampText, attr:{'data-timestamp': created }"></span>
							</p>
						</div>
					</div>
					
					<!-- ko if: $root.user.id === user_id -->
						
						<div class="post-controls">
							<div class="post-control-display" data-bind="click: $root.showPostControlDropdown">
								<button type="button" class="btn-icon">
									<i class="material-icons">more_vert</i>
								</button>								
							</div>
							<div class="post-control-dropdown card">

								<div class="post-control-dropdown-item center-content-vertically" data-bind="click: $root.editPost">
									<i class="material-icons">mode_edit</i>
									<span>edit</span>
								</div>

								<div class="post-control-dropdown-item center-content-vertically" data-bind="click: $root.deletePost">
									<i class="material-icons">delete</i>
									<span>delete</span>
								</div>

							</div><!-- END POST DROPDOWN -->

						</div><!-- END POST CONTROLS -->

					<!-- /ko -->

					<div class="post-item-post" data-bind="visible: !editing()">
						<p data-bind = "text: post"></p>
					</div> <!-- END POST-ITEM-POST -->

					<!-- ko if: $root.user.id === user_id -->
						<div class="post-edit" data-bind="visible: editing()">
							<textarea class="post-edit-input" data-bind="textInput: post"></textarea>
							<div class="post-edit-controls">
								<button class="btn-normal" data-bind="click: $root.saveEdit">save</button>
								<button class="btn-normal" data-bind="click: $root.cancelEdit">cancel</button>
							</div>
						</div>
					<!-- /ko -->
				</div><!-- END POST-ITEM/CARD -->
			</div><!-- END POST-LIST DIV -->

			<div id="moreFeed" data-bind="fadeMoreFeed: moreFeed">
				<button class="btn-normal raised" type="button" data-bind="click: fetchOlderPosts">get more thoughts</button>
			</div>
		</div> <!-- END POST-LIST WRAPPER -->
		
		<div id="feedSpinner">
			<div>
				<i class='spinner icon-spin3 animate-spin'></i>
			</div>			
		</div>

		<div class="no-content-filler card" id = "noGroupJoined" data-bind = "showFillerMessage: noGroupJoinedMessage">
        	<div class="backdrop-icon">
        		<i class="material-icons">person</i>
        	</div>
        	<div class="message">
        		<span>Forever alone? Join a group.</span>
        	</div>
        </div>
		
		<div class="card no-content-filler" id = "noPost" data-bind = "showFillerMessage: noPostMessage">
        	<div class="backdrop-icon">
        		<i class="material-icons">no_sim</i>
        	</div>
        	<div class="message">
        		<span>No posts in this group yet. Share a thought.</span>
        	</div>
		</div>
	</div><!-- END POSTWRAPPER DIV -->	
</div><!-- END CENTER COL -->	

{% endblock %}

{% block custom_content %}
	<div>
		<hot-groups></hot-groups>
	</div>
{% endblock %}
