
{% extends 'base_navbar.html' %}

{% block title %}
	<title>{{g.name}}</title>
{% endblock %}

{% block style_sheets %}
	<link rel="stylesheet" href="../stylesheets/object-fit-polyfill.css">
	<link rel="stylesheet" href="../stylesheets/group-landing-page.css">
{% endblock %}

{% block json_elements %}
	<span style ="display:none" id="groupData" data-groupJSON="{{group_json}}"></span>
{% endblock %}

{% block scripts %}	
	<script data-main="../scripts/groupLandingMain" src="../scripts/libs/require.js"></script>
{% endblock %}

{% block modals %}
	{% if g.render_edit %}
		<!-- START EDIT GROUP MODAL -->
		<div class="simple-modal-wrapper form-modal" data-modal-id="editGroupModal" data-animation-duration="400">
			<div class="modal-content">
        		<p class="modal-heading">Edit Group</p>
		        <div class="modal-body">
		        	<form id="editForm" method="GET" action="#">
						<div class="material-input-wrapper material-description-field">
							<div class="material-input-group">
								<textarea class="material-textarea" rows="1" name="description">{{description}}</textarea>
								<span class="bar"></span>
								<label>Update Group Description</label>

								<div class="guide">
									<span>Groups must have a description.</span>
									<span class="description-counter"></span>
								</div>
							</div>								
						</div> <!-- END DESCRIPTION FROM FIELD -->					

						<div class="form-controls">
							<button type="button" class="btn-normal simple-modal-close">cancel</button>
							<button type="submit" class="btn-normal save-group-edit" disabled="true">save</button>
						</div>
						<!-- <div id="error"></div> -->
					</form>
		        </div><!-- END MODAL BODY -->

		 	</div><!-- END MODAL CONTENT -->
		</div><!-- END MODAL WRAPPER -->

		<!-- START UPLOAD IMAGE MODAL -->
		<div class="simple-modal-wrapper form-modal upload-image-modal" data-modal-id="uploadImageModal" data-animation-duration="400">
			<div class="modal-content">
        		<p class="modal-heading">Upload Image</p>
		        <div class="modal-body">
		        	<form enctype="multipart/form-data" method="POST">
		        		<div class="guide">
		        			<span></span>
		        		</div>
						<div class="image-selected-wrapper">
							<div class="backdrop-icon">
								<i class="material-icons">cloud_upload</i>
							</div>
							<img src="#void" class="image-selected">
						</div>

						<div class="file-input-trigger">
							<button type="button" class="btn-normal">select image</button>
						</div>				
						<input type="file" name="file" value="Select">
						<div class="form-controls">
							<button type="button" class="btn-normal simple-modal-close">cancel</button>
							<button type="submit" class="btn-normal upload-image" disabled="true">upload</button>
						</div>
					</form>
		        </div><!-- END MODAL BODY -->
		 	</div><!-- END MODAL CONTENT -->
		</div><!-- END MODAL WRAPPER -->
		
		<!-- START CONFIRM IMAGE DELETE MODAL -->
		<div class="simple-modal-wrapper confirm-modal" data-modal-id="confirmLeadingImageDeleteModal" data-animation-duration="400">
			<div class="modal-content">
        		<p class="modal-heading"></p>
		        <div class="modal-body">
		        	<p class="confirm-modal-message">Delete current group picture?</p>
					<div class="confirm-modal-controls">
						<button type="button" class="btn-normal simple-modal-close">cancel</button>
						<button type="button" class="btn-normal delete-leading-image">Delete</button>
					</div>
		        </div><!-- END MODAL BODY -->

		 		</div><!-- END MODAL CONTENT -->
		</div><!-- END MODAL WRAPPER -->

	{% endif %}
{% endblock %}

{% block user_content %}
	<div id="group" class="card">

		<div class="leading-image-wrapper" id="groupImage">
			<div class="leading-image">
				<img class="group-cover-image avatar-rect image-modal" src="{{g.cover_image_url}}" alt="{{g.name}} group's image">
				{% if g.render_edit %}
					<div class="leading-image-controls">			
						<i title="Upload Image"class="material-icons image-upload-icon simple-modal-trigger" data-trigger-modal-id="uploadImageModal">photo_camera</i> 

						<i title="Delete Image" class="material-icons image-delete-icon simple-modal-trigger" data-trigger-modal-id="confirmLeadingImageDeleteModal">delete</i>
					</div>
				{% endif %}
			</div>			
		</div>

		<div id="groupDescriptionStatus">
			<div>
				<h4>{{g.name}}</h4>
				<p id="groupDescriptionDisplay">{{g.description}}</p>
			</div>
			
			<div id="groupControls">
				<!-- A public group -->
				{% if not g.private %}
					
					<!-- user is member of the public group -->
					{% if g.member %}
						<button class="btn-normal action" data-click-action="leave">Leave group</button>

					<!-- not a member so render join button -->
					{% else %}
						<button class="btn-normal action" data-click-action="join">Join group</button>
					{% endif %}
				{% endif %}
				
				<!-- A private group -->
				{% if g.private %}
					
					{% if g.member %}
						
						{% if not g.admin %}
							{% if g.admin_request %}
								<span class="status-message">Your request, for adminship of this group, is pending</span>
							{% else %}
								<button class="btn-normal action" data-click-action="request">Request Adminship</button>

							{% endif %}
						{% endif %}

						<button class="btn-normal action" data-click-action="leave">Leave group</button>
						
						<!-- not a member of private group/ so either we render join or
						user has a pending join request-->
					{% else %}
						{% if g.render_join %}
						<button class="btn-normal action" data-click-action="join">Join group</button>

						{% else %}
							<span class="status-message">Your request, to join this group, is pending</span>
						{% endif %}
					{% endif %}
				{% endif %}

			</div> <!-- END GROUP CONTROLS -->
		</div> <!-- END GROUP DETAILS -->
	</div> <!-- END GROUP -->
	
	<div class="group-info-wrapper clearfix">
		<div class="group-details">

			<div class="group-status card">
				{% if g.private %}
					<div class="group-type">
						<h6>Private Group</h6>
						<span title="private group" class="private"><i class="material-icons ">vpn_lock</i></span>
					</div>
				{% else %}
					<div class="group-type">
						<h6>Public Group</h6>
						<span title="public group" class="public"><i class="material-icons">public</i></span>
					</div>
				{% endif %}

				{% if g.members_number %}
					<div class="group-members">
						<span>
							{{g.members_number}}
							{% if g.members_number == 1 %}
								<span> member</span>
							{% else %}
								<span> members</span>
							{% endif %}
						</span>
					</div>
				{% endif %}
			</div>
			
			
			<div class="group-creator card">
				<h6>Creator</h6>			
				
				<div class="group-creator-details center-content-vertically">
					<div class="group-creator-image">
						<img class="avatar-round" src="{{g.creator_image}}" alt="{{g.creator_name}}'s avatar">
					</div>					
					<span>{{g.creator_name}}</span>	
				</div>
				
				{% if g.render_edit %}
					<div class="group-edit-control">
						<button class="btn-normal simple-modal-trigger" data-trigger-modal-id = "editGroupModal">Edit group</button>
					</div>
				{% endif %}						
			</div><!-- END GROUP CREATOR -->
		</div><!-- END GROUP DETAILS -->

		<div class="group-posts card">
			{% if g.recent_posts %}
				<h5 class="center-content-vertically">
					<i class="material-icons">description</i>
					<span>recently shared thoughts</span>
				</h5>
				<div class="post-padding-wrapper">
					{% for post in g.recent_posts %}
						<div class="recent-post">
							{% if g.poster_info %}
								<div class="recent-poster-info">
									
									<div class="recent-poster-image">
										<img class="avatar-rect" src="{{post.poster_image}}" alt="{{post.poster_name}}'s avatar">
									</div>
									
									<div class="recent-poster-name">
										<p>{{post.poster_name}}</p>
										<span class="timestamp" data-timestamp = "{{post.created}}"></span>
									</div>
				
								</div>
							{% endif %}
							<p class="recent-poster-post">{{post.post}}</p>
						</div>
					{% endfor %}
				</div>
				
			<!-- either 0 post in group or its a private group and user not member(default case) -->
			{% else %}
				<!-- public group or a private group with user as member-->
				{% if not g.private or (g.private and g.member) %}
					<div class="no-content-filler no-post">
						<div class="backdrop-icon">
							<i class="material-icons">no_sim</i>
						</div>						
						<div class="message">
							<span>No posts in this group yet...</span>
						</div>
					</div>					
				{% endif %}

				{% if g.private and not g.member %}
					<div class="no-content-filler private">
						<div class="backdrop-icon">
							<i class="material-icons">lock</i>
						</div>						
						<div class="message">
							<span>This is a private group. Join to explore.</span>
						</div>
					</div>
				{% endif %}	
			{% endif %}
		</div><!-- END GROUP POSTS -->
	</div><!-- END GROUP INFO WRAPPER -->
	
{% endblock %}

{% block custom_content %}
	<hot-groups></hot-groups>
{% endblock %}

