{% extends 'base.html' %}

{% block title %}
	<title>{{u.display_name}}</title>
{% endblock %}

{% block style_sheets %}
	<link rel="stylesheet" href="../stylesheets/simple_modal_min.css">
{% endblock %}

{% block content %}	
<script type="text/javascript" data-main="../scripts/viewProfileMain" src="../scripts/require.js">
</script>

<script type="text/html" id="group-template">
	<li>
		<p>
			<img data-bind="attr:{src: cover_image_thumbnail}">
			<a data-bind="attr:{href: url}"><strong data-bind="text: name"></strong></a>
			<i data-bind="text: members_str"></i>
		</p>
		<p data-bind="text: private_str"></p>
		<p data-bind="text: description"></p>
	</li>	
</script>

<div>
	<post-notification params="parent: null"></post-notification>
	<request-notification></request-notification>
</div>

<div>
	<p><img class="user-image" src="{{u.thumbnail_url}}" alt="{{u.display_name}}'s image"></p>
	<h2>{{u.display_name}}</h2>
	<p>Associated google account: {{u.email}}</p>
</div>

<div class="simple-modal-wrapper" data-modal-id="editUserModal">
	<div class="modal-content">

		<p class="modal-heading">Edit your profile</p>

	    <div class="modal-body">
		    <form id="editForm" action="{{u.form_action}}" enctype="multipart/form-data" method="POST">
		    	<div>
		    		<h4>Change display name</h4>
					<label for="">Display Name</label>
					<input type="text" name = "display_name">
					<span>currently: {{u.display_name}}</span>
				</div>
				<div>
		    		<h4>Profile photo</h4>
						{% if u.default_image %}
							<p>
								<img class="user-image" src="{{u.thumbnail_url}}" alt="{{u.display_name}}'s image">
								<span id="defaultImageMessage">None set. Using default</span>
								<p><input type="file" name="file" value="Select"></p>			
							</p>
						{% else %}
							<p>
								<img class="user-image" src="{{u.thumbnail_url}}" alt="{{u.display_name}}'s image">
								<button type="button" id="deleteImage">Delete Image</button>
								<span id="defaultImageMessage"></span>
								<p><input type="file" name="file" value="Select"></p>
							</p>
						{% endif %}											
				</div>
				<div>
					<input type="submit" name="submit" value="Save changes">
					<button type="button" class="simple-modal-close">Close Modal</button>
				</div>				
				<div id="error"></div>
			</form>
	    </div><!-- END MODAL BODY -->

	</div><!-- END MODAL CONTENT -->

</div><!-- END MODAL WRAPPER -->
<button type="button" class="simple-modal-trigger" data-trigger-modal-id = "editUserModal">Edit Profile</button> 

<ul data-bind="foreach: tabNames">
	<li data-bind="text: $data, click:changeTab"></li>
</ul>

<div>
	 <!-- ko if: tab.groups() -->
        <h3>Groups</h3>
        <h4>Joined groups</h4>       
        <ul data-bind="template: { name: 'group-template', foreach: groups.allGroupsData }"></ul>

        <h4>Groups you are administrator of</h4>       
        <ul data-bind="template: { name: 'group-template', foreach: groups.adminGroupsData }"></ul>
    <!-- /ko -->

    <!-- ko if: tab.posts() -->
        <h3>Posts</h3>
        <ul data-bind="foreach: posts.postArray">
        	<li>
        		<p data-bind="text:post"></p>
        		<p>posted in <strong data-bind="text: group_name"></strong>
        			<i data-bind="text: timestampText"></i>
        		</p>
        		<p><button type="button" data-bind="click: deletePost">Delete</button></p>
        	</li>
        </ul>
        <button data-bind="click: getMorePosts, enable: posts.more()">Get more posts</button>
    <!-- /ko -->

    <!-- ko if: tab.notifications() -->
        <h3>Notifications</h3>
        <ul data-bind= "foreach: notifications.ntfArray">
			<li>
				<p>
					<img data-bind="attr:{src: posterImage}"><span data-bind = "text: notificationText"></span>
				</p>
				<p><i data-bind = "text: timestampText"></i></p>
			</li>
		</ul>
		<button data-bind="click: getMoreNotifications, enable: notifications.more()">Get more notifications</button>
    <!-- /ko -->

    <!-- ko if: tab.requests() -->
        <h3>Requests</h3>
        <ul data-bind="foreach: requests.requestArray">
			<li>
				<p><img data-bind="attr:{src: user_image}"><strong data-bind="text:user_name"></strong></p>
				<p data-bind="text: text"></p>
				<p><i data-bind="text: timestampText"></i></p>
				<p><button data-bind = "click: completeRequest, visible:complete === false">Accept Request</button></p>
			</li>		
		</ul>
		<button data-bind="click: getMoreRequests, enable: requests.more()">Get more requests</button>
    <!-- /ko -->
</div>

{% endblock %}
