{% extends 'base.html' %}

{% block title %}
	<title>{{u.name}}</title>
{% endblock %}

{% block content %}	
<div>
	{% if u.image %}
		<p><img src="{{u.image}}" alt="{{u.name}}'s image"></p>
	{% endif %}
	<h2>{{u.name}}</h2>
	<p>Associated google account: {{u.email}}</p>
</div>
<div>
	<h2>Groups joined</h2>
	{% if u.groups %}
		<p>
			<i>
				{{u.groups|length}} {{'group' if u.groups|length == 1 else 'groups'}}
			</i>
		</p>
		{% for g in u.groups %}
			<div>
				<a href="/group/{{g.id}}">
					<img src="{{g.cover_image_thumbnail}}" alt="{{g.name}}'s photo">
					<span>{{g.name}}</span>
				</a>
			</div>
		{% endfor %}
	{% else %}
		<strong>You have not joined any groups yet</strong>
	{% endif %}
</div>
{% endblock %}
